version: '2.0.1.{build}'

init:
- ps: |
      $version = new-object System.Version $env:APPVEYOR_BUILD_VERSION
      $env:flowVersion = "{0}.{1}.{2}.{3}" -f $version.Major, $version.Minor, $version.Build, $version.Revision
      echo $version
      echo $env:flowVersion
- sc config WSearch start= auto
- net start WSearch

cache:
  - '%USERPROFILE%\.nuget\packages -> **.sln, **.csproj'

branches: 
    only: 
        - master

image: Visual Studio 2022
platform: Any CPU
configuration: Release
before_build:
- ps: .\Scripts\before_build.ps1
build:
  project: Flow.Launcher.sln
  verbosity: minimal
after_build:
  - ps: .\Scripts\after_build.ps1
test: false

artifacts:
- path: 'Output\Release\Flow.Launcher.Plugin.*.nupkg'
  name: Plugin nupkg
- path: 'Output\Packages\Flow-Launcher-*.exe'
  name: Squirrel Installer
- path: Output\Packages\Flow-Launcher-Portable.zip
  name: Portable Version
- path: 'Output\Packages\FlowLauncher-*-full.nupkg'
  name: Squirrel nupkg
- path: 'Output\Packages\RELEASES'
  name: Squirrel RELEASES

deploy:
  - provider: GitHub  
    tag: v$(APPVEYOR_BUILD_VERSION)
    release: v$(APPVEYOR_BUILD_VERSION)
    description: Auto Build v$(APPVEYOR_BUILD_VERSION)
    artifact: Squirrel Installer, Portable Version, Squirrel RELEASES, Squirrel nupkg
    auth_token:
        secure: hHwoegRebR2QKq4GT3QmRhTxPjrcAtIFBIufsPmzhySfbjqFP2zAKmiGLICXNpqH
    force_update: true

